docker.enabled = false
conda.enabled = true

/*
*sets choice of executor to target a different backend*/
process {
    //executor = 'slurm' //implied default is 'local'; cant test this because this training is not set up on an HPC
    memory = 1.GB //default is 2.GB; reduced here since resource utilization report (report-config-1.html) shows lightweight use (the highest was 0.2% of 2.GB for cowpy)
    withName: 'cowpy' {
        memory = 2.GB
        cpus = 2 //default is 1.GB; increased here since utilization report shows heavy use for cowpy (nearly 60% of cpu resources)
    /* resourceLimits = [ //running the workflow with resource allocations that exceed the environment's limits, see sbatch command in the .command.run script file that resource requests are sent to the executor and are capped at the values specified in resourceLimits
    memory: 750.GB,
    cpus: 200,
    time: 30.d
    ]*/
    }
}

/*
 * Pipeline parameters
 */
params {
    input = 'data/greetings.csv'
    batch = 'batch'
    character = 'turkey'
}

/*
*Profiles
*/
profiles { //define this in the CLI with -profile <profile>
    my_laptop {
        process.executor = 'local' //default
        docker.enabled = true
    }
    univ_hpc { //not using this for the training since we're not on an hpc with slurm
        process.executor = 'slurm'
        conda.enabled = true
        process.resourceLimits = [
            memory: 750.GB,
            cpus: 200,
            time: 30.d
        ]
    }
    test {
        params.input = 'data/greetings.csv' //can use parameters to test different parameters as well! and run several together on CLI -profile <profile1>,<profile2>
        params.batch = 'test'
        params.character = 'dragonandcow'
    }
}

/*
* Output
*/
//outputDir = "custom-outdir-config/${params.batch}" //sets output dir to custom-outdir-config/ and the value of the batch parameter as the subdirectory; easily changed in the batch parameter^^ or with CLI --batch
outputDir = "custom-outdir-config/"
workflow.output.mode = 'copy' //setting this here overrides what is in the workflow (hello-config.nf) file
